.wrapper {
  @apply w-[100vw] h-[max-content] flex flex-col items-start gap-[40px];
  padding: 56px 88px;
  margin-top: 112px;
  background-color: var(---white);
}

.header {
  @apply flex w-[100%] h-[38px] justify-between items-center;
}

.header span {
  @apply w-[232px] flex gap-[10px];
  font-family: "Urbanist";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---neutral);
}

.header span h1 {
  color: var(---black);
}

.navigate {
  @apply w-[80px] h-[24px] flex gap-[10px] items-center;
}

.navigate img {
  @apply w-[24px] h-[24px] hover:opacity-[0.2];
  color: var(---black);
  cursor: pointer;
  font-weight: 900;
}

.products {
  @apply w-[100%] h-[487px] flex gap-[40px] items-start overflow-hidden;
}

.products_card {
  @apply min-w-[395px] h-[487px] flex flex-col gap-[16px] items-start rounded-md;
  border: 2px solid #eeeeee;
}

.products_card img {
  @apply w-[100%] h-[420px];
  background-color: var(---white);
  object-fit: contain 100%;
}

.products_card span {
  @apply w-[100%] h-[51px] px-[5px] flex flex-col items-start gap-[8];
}

.products_card p:nth-child(1) {
  font-family: "Urbanist";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.products_card p:nth-child(2) {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
}
