.wrapper {
  @apply w-full h-[max-content] flex flex-col items-start xl:gap-14 gap-7 xl:px-20 md:px-10 px-4 justify-center;
}

.femaleCate,
.maleCate {
  @apply w-full xl:h-[750px] lg:h-[550px] md:h-[400px] h-[max-content] md:flex justify-between items-center;
}

.f_image {
  @apply xl:w-[503px] lg:w-[370px] md:w-[270px] w-[330px] h-full flex shrink-0 md:mb-0 mb-3 md:m-0 m-auto;
}

.f_image img:nth-child(1) {
  @apply w-full h-full rounded-full bg-cover;
  background-color: var(---white);
}

.f_image img:nth-child(2) {
  @apply xl:w-[130px] xl:h-[130px] lg:w-[100px] lg:h-[100px] w-[70px] h-[70px] absolute shrink-0 xl:ml-[430px] lg:ml-[320px] md:ml-[230px] ml-[280px] lg:mt-36 md:mt-28 mt-24;
}

.f_desc,
.m_desc {
  @apply xl:w-[450px] lg:w-[350px] md:w-[250px] w-full h-[280px] inline-flex flex-col lg:gap-5 gap-2 items-start;
}

.f_desc span,
.m_desc span {
  @apply w-full font-Urbanist xl:text-4xl lg:text-3xl text-2xl font-normal flex gap-2;
  font-weight: 700;
  color: var(---neutral);
}

.f_desc span h1,
.m_desc span h1 {
  color: var(---black);
}

.f_desc p,
.m_desc p {
  @apply font-Urbanist xl:text-xl lg:text-[16px] text-[14px] font-normal;
  font-weight: 400;
}

.f_desc button,
.m_desc button {
  @apply xl:w-[209px] lg:w-[150px] w-[130px] xl:h-[50px] lg:h-[40px] h-[35px] flex justify-center items-center text-center font-Urbanist xl:text-xl lg:text-[16px] text-[14px] font-bold text-[var(---white)] bg-[var(---neutral-500)];
}

.m_image {
  @apply xl:w-[503px] lg:w-[370px] md:w-[270px] w-[330px] h-full flex shrink-0 md:mb-0 mb-3 md:m-0 m-auto;
}

.m_image img:nth-child(2) {
  @apply w-full h-full bg-cover shrink-0;
  background-color: #d9d9d9;
  border-radius: 251.5px 0px 0px 251.5px;
}

.m_image img:nth-child(1) {
  @apply xl:w-[130px] xl:h-[130px] lg:w-[100px] lg:h-[100px] w-[70px] h-[70px] absolute  lg:mt-36 md:mt-28 mt-32 shrink-0 lg:-ml-16 md:-m-10 -m-5;
}
