.wrapper {
  @apply w-[100vw] h-[max-content] inline-flex flex-col items-start lg:gap-[38px] md:gap-6 gap-3 xl:px-20 lg:p-10 p-6;
  background: var(---white);
}

.page_title {
  @apply w-full h-[63px] flex flex-col items-start gap-2;
}

.page_title h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---black);
  @apply xl:text-3xl lg:text-[32px] text-2xl;
}

.page_title span {
  @apply w-[109px] h-[17px] flex items-start lg:gap-2 gap-1;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral);
  @apply xl:text-[18px] lg:text-[14px] text-[12px];
}

.page_title span p:hover {
  color: var(---neutral-500);
}

.contact {
  @apply w-full xl:h-[594px] lg:h-[450px] md:h-[330px] h-[max-content] md:flex items-start lg:gap-[40px] gap-5;
  background: var(---white);
}

.contact_info {
  @apply md:w-[50%] w-full h-full flex flex-col items-start lg:gap-[40px] gap-5 md:mb-0 mb-7;
}

.contact_details {
  @apply w-full h-[max-content] flex flex-col gap-[24px] py-6;
}

.contact_details span {
  @apply w-full lg:h-[22px] h-[14px] flex justify-between self-stretch;
}

.contact_details span h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---neutral-500);
  @apply lg:text-[18px] text-[14px];
}

.contact_details span p {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---neutral-500);
  @apply lg:text-[16px] text-[12px];
}

.map {
  @apply w-full h-[300px] self-stretch border-[1px];
}

.input_info {
  @apply md:w-[50%] w-full lg:h-[450px] h-[330px] flex flex-col items-start shrink-0 lg:gap-5 gap-4;
}

.input_info h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
  color: var(---neutral-500);
  @apply lg:text-[22px] text-[16px];
}

form {
  @apply w-full lg:h-[520px] h-[400px] flex items-start flex-col lg:gap-4 gap-3 self-stretch;
}

form .input1 {
  @apply w-full lg:h-[40px] h-[35px] rounded-md px-[16px];
  background: var(---neutral-50);
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
  outline: none;
}

form span {
  @apply w-full lg:h-[40px] h-[35px] flex items-center gap-[32px] self-stretch;
}

form span .input2 {
  @apply w-[50%] h-full px-[16px] rounded-md;
  background: var(---neutral-50);
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
  outline: none;
}

form textarea {
  @apply w-full lg:h-[170px] h-[100px] rounded-md flex  self-stretch;
  background: var(---neutral-50);
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
  padding: 16px;
  outline: none;
  resize: none;
}

form button {
  @apply lg:w-[102px] w-[90px] lg:h-[42px] h-[35px] flex justify-center items-center rounded-sm font-bold xl:text-[18px] text-[12px];
  background: #f24810;
  color: var(---white);
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
