.wrapper {
  @apply lg:w-[500px] md:w-[400px] w-[300px] xl:w-[600px] xl:h-[330px] lg:h-[300px] h-[200px] flex flex-col items-start lg:gap-3 gap-2 lg:p-4 p-3;
}

.wrapper img {
  @apply lg:w-[100px] w-[60px] h-[15px] xl:w-[150px] lg:h-[20px] xl:h-[40px];
}

.rem_login {
  @apply w-full lg:h-[40px] h-[30px] xl:h-[100px] flex flex-col lg:gap-2 gap-1;
}

.rem_login h1 {
  @apply xl:text-[30px] text-[13px];
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---neutral-900);
}

.rem_login span {
  @apply w-full flex gap-[5px] items-center;
}

.rem_login span p {
  @apply xl:text-[18px] lg:text-[12px] text-[9px];
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---black);
}

.form_fill {
  @apply w-full h-[max-content] flex flex-col items-start gap-2;
}

.input_mail {
  @apply w-full h-[max-content] flex flex-col items-start gap-[4px];
}

.input_mail span {
  @apply w-full lg:h-[40px] h-[30px] xl:h-[50px] flex items-center lg:px-[1.5rem] px-2 rounded-md xl:gap-[4rem] lg:gap-[2rem] gap-3;
  background: var(---neutral-50);
}

.input_mail span img {
  @apply lg:w-[11px] w-[8px] h-[8px] xl:w-[18px] xl:h-[16px] lg:h-[11px];
}

.input_mail input {
  @apply md:w-[280px] w-[330px] xl:w-[76%] h-full flex outline-none lg:py-[16px] lg:px-[5px];
  background-color: var(---neutral-50);
}

.input_mail input::placeholder {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
  @apply xl:text-[1rem] lg:text-[14px] text-[12px] text-center;
}

.input_mail p {
  @apply xl:text-[16px] lg:text-[12px] text-[9px];
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  color: var(---neutral-500);
}

.form_fill button {
  @apply lg:w-[120px] md:w-[90px] w-[70px] lg:h-[40px] h-[30px] xl:h-[53px] flex items-center justify-center rounded-md xl:text-[20px] lg:text-[12px] text-[8px];
  background: var(---neutral-500);
  color: var(---white);
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
