.wrapper {
  @apply w-[100vw] h-[100vh] flex justify-center items-center;
  padding: 341px 369px 340px 370px;
  background: var(---white);
}

.wrapper form {
  @apply w-[701px] h-[343px] flex flex-col items-start gap-[25px];
}

.wrapper form img {
  @apply w-[177.931px] h-[40px];
}

.rem_login {
  @apply w-[308px] h-[81px] flex flex-col items-start gap-[8px];
}

.rem_login h1 {
  font-family: "Urbanist";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---neutral-900);
}

.rem_login span {
  @apply w-[100%] flex gap-[5px] items-center;
}

.rem_login span p:nth-child(1) {
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---neutral-500);
}

.rem_login span p:nth-child(2) {
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.form_fill {
  @apply w-[100%] h-[142px] flex flex-col items-start gap-[32px] self-stretch;
}

.input_mail {
  @apply w-[100%] h-[68px] flex flex-col items-start gap-[4px];
}

.input_mail span {
  @apply w-[100%] h-[50px] flex self-stretch items-center rounded-md gap-[10px];
  padding: 16px 15px;
  background: var(---neutral-50);
}

.input_mail span img {
  @apply w-[14px] h-[14px];
}

.input_mail input {
  @apply w-[100%] h-[100%] outline-none;
  background-color: var(---neutral-50);
  padding: 5px;
  font-size: 14px;
}

.input_mail input::placeholder {
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.input_mail p {
  font-family: "Urbanist";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  color: var(---neutral-500);
}

.form_fill button {
  @apply w-[120px] h-[35px] flex justify-center items-center gap-[10px] rounded-md;
  padding: 10px 30px;
  background: var(---neutral-500);
  color: var(---white);
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
