.wrapper {
  @apply w-[100vw] h-[max-content] flex flex-col self-stretch items-center;
  background-color: var(---white);
}

.wrapper h1 {
  @apply xl:w-[810px] lg:w-[500px] md:w-[400px] w-[250px] xl:text-6xl lg:text-5xl md:text-3xl text-2xl;
  text-align: center;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---black);
}

main {
  @apply w-full h-[650px] gap-[20px] flex flex-col items-center bg-red-300;
  /* background: var(---white); */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigate {
  @apply w-full lg:h-[72px] md:h-[50px] h-[35px] md:px-20 px-6 flex justify-between items-center;
}

.navigate img {
  @apply lg:w-[72px] lg:h-[72px] md:w-[50px] md:h-[50px] w-[35px] h-[35px] cursor-pointer hover:opacity-[0.2];
}

.heroSlider {
  @apply w-full h-[490px] flex gap-[20px] py-4 overflow-hidden bg-yellow-300;
}

.sliderCard {
  @apply min-w-[170px] xl:w-[300px] h-[350px] rounded-md overflow-hidden;
  border: 12px solid #eeeeee;
  background-color: var(---white);
}

.sliderCard:nth-child(1) {
  margin-top: 6rem;
}

.sliderCard:nth-child(2) {
  margin-top: 3rem;
}

.sliderCard:nth-child(4) {
  margin-top: 3rem;
}

.sliderCard:nth-child(5) {
  margin-top: 6rem;
}

.sliderCard img {
  width: 100%;
  height: 100%;
  object-fit: contain 100%;
}
