.wrapper {
  @apply w-[100vw] h-[1024px] flex justify-between overflow-hidden items-center pl-[88px];
  background: var(---white);
}

.login_info {
  @apply w-[503px] h-[682px] flex flex-col items-start gap-[56px];
}

.login_info img {
  @apply w-[177.931px] h-[40px];
}

.login_header {
  @apply w-[100%] h-[174px] flex flex-col items-start gap-[32px];
}

.login_header h1 {
  font-family: "Urbanist";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---black);
}

.login_header p {
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---black);
}

.login_socials {
  @apply w-[100%] h-[40px] flex gap-[16px];
}

.login_socials button {
  @apply w-[184px] h-[100%] flex justify-center items-center gap-[10px];
  flex: 1 0 0;
  padding: 10px 30px;
  border: 1px solid var(---neutral-50);
  background: var(---white);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.06);
}

.login_socials button img {
  @apply w-[18px] h-[18px];
}

.form_area {
  @apply w-[100%] h-[356px] flex flex-col items-start gap-[32px];
}

.form_header {
  @apply w-[100%] h-[17px] flex items-center gap-[3px];
}

.form_header .line {
  @apply w-[178.5px] h-[1px];
  background: var(---line-neutral);
}

.form_header p {
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-700);
}

.errMsg {
  color: red;
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login_details {
  @apply w-[100%] h-[307px] flex flex-col items-center gap-[32px];
}

.form_fill {
  @apply w-[100%] h-[176px] flex flex-col items-start gap-[24px];
}

.form_input {
  @apply w-[100%] h-[50px] flex items-center px-[1.5rem] self-stretch gap-[4px] rounded-md justify-between;
  background: var(---neutral-50);
}

.form_input img {
  @apply w-[14px] h-[14px];
}

.pwdVisible {
  @apply w-[14px] h-[14px] cursor-pointer;
}

.form_input input {
  @apply w-[450px] h-[100%] outline-none;
  background-color: var(---neutral-50);
  padding: 16px 5px;
}

.form_input input::placeholder {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.rem_pass {
  @apply w-[100%] h-[20px] flex justify-between items-start;
}

.rem_pass div {
  @apply w-[134px] h-[100%] flex gap-[8px] items-center;
}

.rem_pass div p {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.rem_pass p {
  text-align: right;
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.login_details button {
  @apply w-[100%] h-[42px] flex items-center justify-center gap-[10px] rounded-md;
  padding: 10px 30px;
  /* background-color: var(---neutral-500); */
  color: var(---white);
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

footer {
  @apply w-[236px] h-[25px] flex items-center gap-[5px];
}

footer h1 {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-900);
}

footer p {
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
}

.carve {
  @apply w-[50%] h-[100%];
}

.carve img {
  width: auto;
  height: 100%;
  object-fit: fill 100%;
}
