.wrapper {
  @apply w-full xl:h-[750px] lg:h-[500px] h-[400px] flex;
}

.wrapper div:nth-child(1) {
  @apply w-[50%] h-full hidden md:flex justify-center items-center;
}

.wrapper div:nth-child(1) img {
  @apply w-full h-full bg-cover ease-in-out opacity-100;
}

.offer_desc {
  @apply md:w-[50%] w-full h-full flex justify-center items-center;
  background-color: var(---black);
  color: var(---white);
}

.offer_desc span {
  @apply xl:w-[458px] lg:w-[358px] w-[258px] xl:h-[340px] lg:h-[300px] h-[250px] flex flex-col gap-[24px] items-start;
}

.offer_desc span p:nth-child(1) {
  font-weight: 500;
  @apply font-Urbanist xl:text-2xl lg:text-xl text-xs font-normal text-[var(---neutral-300)];
}

.offer_desc span p:nth-child(2) {
  font-weight: 700;
  @apply font-Urbanist xl:text-6xl lg:text-5xl text-4xl font-bold text-[var(---neutral-50)];
}

.offer_desc button {
  @apply xl:w-[250px] lg:w-[130px] w-[100px] lg:h-[50px] h-[40px] flex justify-center items-center font-Urbanist bg-[var(---neutral-500)] xl:text-xl lg:text-xs text-[10px] font-normal gap-4;
  background-color: var(---neutral-500);
  font-weight: 500;
}

.offer_desc button img {
  @apply lg:w-[20px] lg:h-[20px] w-[16px] h-[16px];
}
