.wrapper {
  @apply w-[100%] h-[685px] flex bg-red-400;
}

.wrapper div:nth-child(1) {
  @apply w-[50%] h-[100%];
  background-color: var(---white);
}

.wrapper div:nth-child(1) img {
  width: 100%;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.offer_desc {
  @apply w-[50%] h-[100%] flex justify-center items-center;
  background-color: var(---black);
  color: var(---white);
}

.offer_desc span {
  @apply w-[458px] h-[340px] flex flex-col gap-[24px] items-start;
}

.offer_desc span p:nth-child(1) {
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-300);
}

.offer_desc span p:nth-child(2) {
  font-family: "Urbanist";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---neutral-50);
}

.offer_desc button {
  @apply w-[max-content] h-[32px] flex justify-center items-center gap-[10px];
  padding: 10px 30px;
  background-color: var(---neutral-500);
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.offer_desc button img {
  @apply w-[18px] h-[18px];
}
