.wrapper {
  @apply w-[100vw] h-[max-content] inline-flex flex-col items-start gap-[56px] py-[56px];
  background: var(---white);
}

.navigate_header {
  @apply w-[100%] h-[17px] flex items-start self-stretch gap-[8px];
  padding: 0 88px;
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral);
}

.navigate_header p {
  @apply hover:text-black;
}

.product_details {
  @apply w-[100%] h-[550px] flex items-start gap-[40px];
  padding: 0 88px;
  background: var(---white);
}

.product_slides {
  @apply w-[612px] h-[100%] flex items-start gap-[24px];
}

.product_thumbnail {
  @apply w-[100px] h-[472px] flex flex-col items-start gap-[24px] overflow-hidden;
}

.product_thumbnail img {
  @apply w-full min-h-[100px] bg-[#d9d9d9] border-[1px] cursor-pointer;
}

.product_slides img {
  @apply max-w-[488px] h-[100%] bg-[#d9d9d9] border-[1px];
}

.product_info {
  @apply w-[612px] h-[540px] flex flex-col items-start gap-[32px];
}

.product_review {
  @apply w-full h-[655px] flex flex-col items-start;
  background: var(---white);
  padding: 0 88px;
}
