.wrapper {
  @apply w-full h-[max-content] flex flex-col items-start gap-[40px] bg-yellow-300 p-10;
}

.header {
  @apply flex w-full h-[70px] justify-between items-center bg-red-200;
}

.header span {
  @apply w-[232px] flex gap-[10px] font-Urbanist text-4xl font-normal text-[var(---neutral)];
  font-weight: 700;
}

.header span h1 {
  color: var(---black);
}

.navigate {
  @apply w-[80px] h-[24px] flex gap-[10px] items-center;
}

.navigate img {
  @apply w-[30px] h-[30px] hover:opacity-[0.2] cursor-pointer;
  color: var(---black);
  font-weight: 900;
}

.products {
  @apply w-full h-[493px] flex gap-[40px] bg-red-200;
}

.product_card {
  @apply min-w-[395px] h-full flex flex-col justify-center gap-[16px] items-start;
}

.product_card img {
  @apply w-full h-[420px];
  background-color: var(---neutral);
}

.product_card p {
  font-weight: 500;
  line-height: normal;
  @apply font-Urbanist font-normal text-2xl;
}
