.wrapper {
  @apply w-[100vw] h-[max-content] inline-flex flex-col lg:gap-10 gap-4 py-10 lg:px-20 px-10;
}

.terms_header {
  @apply w-full h-[63px] flex flex-col items-start gap-[8px];
}

.terms_header h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---black);
  @apply xl:text-[32px] lg:text-2xl text-xl;
}

.terms_header span {
  @apply w-full h-[17px] flex items-start gap-[8px] lg:text-[16px] text-[12px];
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral);
}

.terms_header span p:hover {
  color: var(---neutral-500);
}

.terms_text {
  @apply w-full h-[max-content] flex flex-col justify-center items-center gap-3 lg:text-[16px] text-[12px];
}

.terms_text p {
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(---neutral-500);
  flex-shrink: 0;
}
