* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  ---white: #ffffff;
  ---black: #000000;
  ---neutral: #b2b2b2;
  ---neutral-500: #575757;
  ---neutral-300: #bebebe;
  ---neutral-50: #eeeeee;
  ---neutral-700: #3e3e3e;
  ---neutral-900: #252525;
  ---line-neutral: #8e8e8e;
}

.wholeWrapper {
  max-width: 1440px;
  min-height: 1024px;
  height: max-content;
  overflow-x: hidden;
}
