* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  ---white: #ffffff;
  ---black: #000000;
  ---neutral: #b2b2b2;
  ---neutral-500: #575757;
  ---neutral-300: #bebebe;
  ---neutral-50: #eeeeee;
}

.wholeWrapper {
  max-width: 1440px;
  height: max-content;
  overflow-x: hidden;
}
